#root {
  height: 100vh !important;
}

body {
  width: 100vw;
  min-height: 100vh;
  background: url('https://img.freepik.com/free-vector/hand-painted-watercolor-pastel-sky-background_23-2148902771.jpg?w=2000');
  margin: 0;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}
